In [1]:
print("Hello World") # accepts any python comman

Hello World

In [13]:
import numpy as np
import pandas as pd# Import Data

In [18]:
series = pd.Series([1,2,89])
series

# DataFrame as two dimensional table structures

menu = {
    "Breakfast": ["Tea", "Samosa"],
    "Lunch": ["Roti", "Rice"],
    "Dinner": ["Tandoor Roti","Rajma"]
}

dataframe = pd.DataFrame(menu)
dataframe

  Breakfast Lunch        Dinner
0       Tea  Roti  Tandoor Roti
1    Samosa  Rice         Rajma

In [20]:
# Viewing data

dataframe.head() #returns top n rows, n default value 5

  Breakfast Lunch        Dinner
0       Tea  Roti  Tandoor Roti
1    Samosa  Rice         Rajma

In [21]:

dataframe.tail()

  Breakfast Lunch        Dinner
0       Tea  Roti  Tandoor Roti
1    Samosa  Rice         Rajma

In [22]:
dataframe.describe()

       Breakfast Lunch        Dinner
count          2     2             2
unique         2     2             2
top          Tea  Roti  Tandoor Roti
freq           1     1             1

In [23]:
dataframe.sort_values(by="Dinner")  #sorts by specified column header

  Breakfast Lunch        Dinner
1    Samosa  Rice         Rajma
0       Tea  Roti  Tandoor Roti

In [24]:
#selecting subset
dataframe["Lunch"]

0    Roti
1    Rice
Name: Lunch, dtype: object

In [25]:
dataframe[0:1] #selects specified row range

  Breakfast Lunch        Dinner
0       Tea  Roti  Tandoor Roti

In [27]:
dataframe["Lunch"].str.lower()  # str available for string arrays

0    roti
1    rice
Name: Lunch, dtype: object

In [2]:

results_dataframe = pd.read_csv('./formula1/results.csv')
circuits_dataframe = pd.read_csv('formula1/circuits.csv')
drivers_dataframe = pd.read_csv('formula1/drivers.csv')
races_dataframe = pd.read_csv('formula1/races.csv')
constructor_dataframe = pd.read_csv('formula1/constructors.csv')

In [12]:
results_dataframe.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [3]:
# Prints Results Data Frame
results_dataframe.head()# Prints Drivers Data Frame
drivers_dataframe.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [4]:
driver_result_dataframe = pd.merge(results_dataframe,drivers_dataframe,on='driverId')
race_result_dataframe = pd.merge(driver_result_dataframe,races_dataframe,on='raceId')
complete_race_data_dataframe = pd.merge(race_result_dataframe,constructor_dataframe,on='constructorId')

complete_race_data_dataframe.head()

,resultId,raceId,driverId,constructorId,number_x,grid,position,positionText,positionOrder,points,...,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,constructorRef,name_y,nationality_y,url
0,1,18,1,1,22,1,1,1,1,10.0,...,\N,\N,\N,\N,\N,\N,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,5,18,5,1,23,3,5,5,5,4.0,...,\N,\N,\N,\N,\N,\N,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
2,27,19,1,1,22,9,5,5,5,4.0,...,\N,\N,\N,\N,\N,\N,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
3,25,19,5,1,23,8,3,3,3,6.0,...,\N,\N,\N,\N,\N,\N,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
4,57,20,1,1,22,3,13,13,13,0.0,...,\N,\N,\N,\N,\N,\N,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren

In [5]:
complete_race_data_dataframe = complete_race_data_dataframe.drop(columns=['url_x','url_y','name_y','nationality_y','url','time_y'])
complete_race_data_dataframe.head()

,resultId,raceId,driverId,constructorId,number_x,grid,position,positionText,positionOrder,points,...,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,constructorRef
0,1,18,1,1,22,1,1,1,1,10.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,mclaren
1,5,18,5,1,23,3,5,5,5,4.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,mclaren
2,27,19,1,1,22,9,5,5,5,4.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,mclaren
3,25,19,5,1,23,8,3,3,3,6.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,mclaren
4,57,20,1,1,22,3,13,13,13,0.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,mclaren

In [6]:
# Filter & Calculate Results
total_wins = complete_race_data_dataframe[(complete_race_data_dataframe['position']== '1')] 
total_wins['position_mod'] = total_wins['position'].astype(int)
total_wins = total_wins.groupby(['driverRef','nationality_x'])['position_mod'].sum().reset_index()
total_wins = total_wins.sort_values(by=['position_mod'], ascending=False)
total_wins = total_wins.head(10)

/var/folders/mt/hcn3mdqx61sfk2fhw_gs6vhc0000gn/T/ipykernel_2765/3676394996.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_wins['position_mod'] = total_wins['position'].astype(int)

In [7]:
import plotly.graph_objects as go
from plotly.offline import iplot
import plotly.io as pio
pio.renderers.default = 'vscode'# Create Bar Chart
chart = go.Figure(data=[go.Bar(
x= total_wins['driverRef'],
y= total_wins['position_mod'],
hovertext = total_wins['nationality_x'] )])
chart.update_layout(title={
'text': 'TOP 10 DRIVERS WITH MOST WINS IN F1',
'y':0.9,
'x':0.5,
'xanchor': 'center',
'yanchor': 'top'},
yaxis=dict(
title='No of Wins',
titlefont_size=16,
tickfont_size=14),
xaxis=dict(
title='Driver',
titlefont_size=16,
tickfont_size=14),
template = 'plotly_dark'
)
iplot(chart)

In [8]:
def master_dataframe(dataframe):
    df_matadata = pd.DataFrame({'Datatype' : dataframe.dtypes, 
                                      "Total Elements": dataframe.count(),
                                      "Null Count": dataframe.isna().sum(), 
                                      "Null Percentage": round(dataframe.isna().sum()/len(dataframe)*100, 3), 
                                      'No Of Unique Values': dataframe.nunique()})
        
    return df_matadata

In [9]:
master_dataframe(results_dataframe)

,Datatype,Total Elements,Null Count,Null Percentage,No Of Unique Values
resultId,int64,25840,0,0.0,25840
raceId,int64,25840,0,0.0,1079
driverId,int64,25840,0,0.0,855
constructorId,int64,25840,0,0.0,210
number,object,25840,0,0.0,130
grid,int64,25840,0,0.0,35
position,object,25840,0,0.0,34
positionText,object,25840,0,0.0,39
positionOrder,int64,25840,0,0.0,39
points,float64,25840,0,0.0,39
laps,int64,25840,0,0.0,172
time,object,25840,0,0.0,6839
milliseconds,object,25840,0,0.0,7051
fastestLap,object,25840,0,0.0,80
rank,object,25840,0,0.0,26
fastestLapTime,object,25840,0,0.0,6772
fastestLapSpeed,object,25840,0,0.0,6938
statusId,int64,25840,0,0.0,137